<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Mercado liebre</title>
</head>

<body>
    <header>
        <div class="menu">
            <div class="logo-busq">
                <div class="head-section center-logo">
                    <img class="img-logo " src="/img/logo-mercado-liebre.svg"></img>
                </div>
                <div class="head-section input-align">
                    <div class="input-wrapper">
                        <input type="text" class="search" />
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="head-section  width-txt input-align padding-tb">

                    <p class="compra-txt"> <i class="fa-solid fa-hand-holding-dollar"></i></i>Comprá en cuotas y sin
                        tarjeta de crédito</p>
                </div>
            </div>
            <button class="hamburger displayHamb"><i class="fa-solid fa-bars"></i></button>
            <div class="verEnl">
                <div class="enlaces">
                    <nav class="navbar">
                        <ul class="links">
                            <li> <a href="#" class="decoration">Ofertas</a></li>
                            <li><a href="#" class="decoration" >Tiendas Oficiales</a></li>
                            <li><a href="#" class="decoration">Vender</a></li>
                            <li><a href="#" class="decoration">Ayuda</a></li>
                        </ul>
                        
                        <ul class="links maRight">
                            <li><a href="/register" class="decoration">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                            <li><a href="/login" class="decoration">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                            <li><a href="#" class="decoration">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                        </ul>

                    </nav>
                </div>
            </div>
        </div>
        <img class="img-banner" src="/img/img-home-banner.jpg"></img>
    </header>
    <main class="container">
        <h2 class="tit-prod padding-tbtxt">Basado en tu última visita</h2>
        <section class="productos">

            <article class="producto">
                <img class="img-prod" src="/img/img-cafetera-moulinex.jpg"></img>
                <div class="descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio">
                        <p class="valprecio">$6.770</p>
                        <p class="verde">40% OFF</p>
                        <p></p>
                    </div>
                    <h3 class="desc">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="producto">
                <img class="img-prod" src="img/img-macbook-pro-2019.jpg"></img>
                <div class="descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio">
                        <p class="valprecio">$230.000</p>
                        <p class="verde">40% OFF</p>
                        <p></p>
                    </div>
                    <h3 class="desc">MacBook Pro 2019</h3>
                </div>
            </article>
            <article class="producto">
                <img class="img-prod" src="img/img-samsung-galaxy-s10.jpg"></img>
                <div class="descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio">
                        <p class="valprecio">$70.500</p>
                        <p class="verde">10% OFF</p>
                        <p></p>
                    </div>
                    <h3 class="desc">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article class="producto">
                <img class="img-prod" src="img/img-tv-samsung-smart.jpg"></img>
                <div class="descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio">
                        <p class="valprecio">$23.200</p>
                        <p class="verde">5% off</p>
                        <p></p>
                    </div>
                    <h3 class="desc">SmartTv Samsung 43</h3>
                </div>
            </article>

        </section>
        <h2 class="tit-prod padding-tbtxt">Ofertas</h2>
        <section class="productos">

            <article class="producto">
                <img class="img-prod" src="/img/img-cafetera-moulinex.jpg"></img>
                <div class="descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio">
                        <p class="valprecio">$6.770</p>
                        <p class="verde">40% OFF</p>
                        <p></p>
                    </div>
                    <h3 id="descripcion"class="desc">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="producto">
                <img class="img-prod" src="img/img-macbook-pro-2019.jpg"></img>
                <div class="descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio">
                        <p class="valprecio">$230.000</p>
                        <p class="verde">40% OFF</p>
                        <p></p>
                    </div>
                    <h3 class="desc">MacBook Pro 2019</h3>
                </div>
            </article>
            <article class="producto">
                <img class="img-prod" src="img/img-samsung-galaxy-s10.jpg"></img>
                <div class="descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio">
                        <p class="valprecio">$70.500</p>
                        <p class="verde">10% OFF</p>
                        <p></p>
                    </div>
                    <h3 class="desc">Samsung Galaxy S10</h3>
                </div>
            </article>
            <article class="producto">
                <img class="img-prod" src="img/img-tv-samsung-smart.jpg"></img>
                <div class="descripcion">
                    <i class="fa-solid fa-truck"></i>
                    <div class="precio">
                        <p class="valprecio">$23.200</p>
                        <p class="verde">5% off</p>
                        <p></p>
                    </div>
                    <h3 class="desc">SmartTv Samsung 43</h3>
                </div>
            </article>

        </section>
    </main>



    <footer class="container bcfoot">
        <section class="footsection">
            <div class="card card-long">
                <div class="footer-head">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <div>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p class="tam-descf">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </div>
            <div class="card card-long">
                <div class="footer-head">
                    <i class="fa-solid fa-gift"></i>
                </div>
                <h4>Envío gratis desde $ 2.500</h4>
                <p class="tam-descf">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="card card-long">
                <div class="footer-head">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p class="tam-descf">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
        </section>
        <div>
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </div>

    </footer>
</body>

</html>