<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Mercado liebre</title>
</head>

<body>
    <header>

        <img class="img-prod" src="/img/logo-mercado-liebre.svg"></img>
        <p>lugar para poner barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav class="navbar">
            <ul class="links">
                <li> <a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <nbsp></nbsp>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>

        </nav>

        <img class="img-prod" src="/img/img-home-banner.jpg"></img>
    </header>
    <main class="main">
        <h2>Basado en tu última visita</h2>
        <section class="productos">
           
            <article class="producto">
                <img class="img-prod" src="/img/img-cafetera-moulinex.jpg"></img>
                <div class="descripcion">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h3 class="desc">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="producto" id="producto">
                <img class="img-prod" src="/img/img-cafetera-moulinex.jpg"></img>
                <div class="descripcion">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h3 class="desc">Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="producto" id="producto">
                <img class="img-prod" src="/img/img-cafetera-moulinex.jpg"></img>
                <div class="descripcion">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
            <article class="producto" id="producto">
                <img class="img-prod" src="/img/img-cafetera-moulinex.jpg"></img>
                <div class="descripcion">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h3 class="desc">Cafetera Moulinex</h3>
                </div>
            </article>

        </section>

    </main>

    <footer>
        <section>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

    </footer>
</body>

</html>